@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
    font-family: 'Coming Soon', cursive;    
} 

ol > li:first-of-type {
    color: blue;
}

li:first-of-type li:first-of-type {
    color: red;
}

li:first-of-type li:nth-child(2) {
    color: red;
}

li:first-of-type li:last-child {
    color: green;
}

ol > li:last-child {
    color: grey;
}

span span {
    color: pink;
}